@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,900&family=Permanent+Marker&display=swap');


* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {


  background: linear-gradient(120deg, #dcecf8 0%, transparent 40%, #f8e6fa 100%);
  background-color: #f5f3f3;
  background-size: 2px 7px;
  font-family: Lato, sans-serif;
}

.container {

  height: auto;
}




ul {

  list-style-type: none;
}

h2 {

  display: flex;
  justify-content: center;
  font-family: Lato, sans-serif;
  color: rgb(61, 61, 204);
  text-decoration-line: underline;
  line-height: 2rem;
  text-decoration-color: #A02D03;
  margin-bottom: 60px;
  margin-top: 100px;
  font-size: xx-large;

}





.container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 25px;
  align-items: center;

}



.container-navbar a {

  padding: 5px;
  margin-top: 10px;
  font-size: 16px;
  margin: 20px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(61, 61, 204);

}



.container-navbar a:hover {
  color: #A02D03;
}

.logo {

  margin: 30px;
  width: 70px;
  height: 70px;
  border: solid 0.5rem;
  border-color: #A02D03;
  color: rgb(61, 61, 204);
  font-family: Permanent Marker;
  font-size: 4em;
  transition: transform 0.2s;
  transform: translate(-15%, -15%);

}

.logo:hover {
  transform: translateY(-5px);
}

.container-about {
  display: flex;
  padding: 30px;
  margin: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 90px;
  border: 2px solid white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-left: none;
  border-right: none;
  border-radius: 1%;
  font-size: x-large;
}

.oxana {
  font-family: Permanent Marker;
  color: rgb(61, 61, 204);
  font-size: 40px;
}


.positive {
  font-family: Lato, sans-serif;
  color: #A02D03;
  font-weight: bolder;

}


#experience {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
}

#experience ul {
  list-style:square inside;
}

#experience li {
  padding: 20px;
  margin: 15px;
  text-decoration: none;
  font-family: Lato;
  text-align: center;
  font-size:x-large;
  border: 2px solid white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1%;

}

#experience li:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.container-projects ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  

}

.container-projects li {
  padding: 20px;
  margin: 12px;
  text-decoration: none;
  border: 2px solid white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1%;
  font-size: x-large;

}

.container-projects li:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.container-skills {

  margin-top: 200px;
  margin-bottom: 300px;

}

.container-skills ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.container-skills li {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  font-family: Lato;
  text-align: center;
  font-size: x-large;
  border: 2px solid white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1%;

}

.container-skills li:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}


.leave {
  font-family: Lato, sans-serif;
  color: rgb(61, 61, 204);
  text-decoration-line: underline;
  line-height: 2rem;
  text-decoration-color: #A02D03;
  margin-bottom: 60px;

}

form {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: rgb(83, 83, 234);
  justify-content: center;
  padding: 40px;
  width: 320px;
  margin: 0 auto;
  height: 420px;



}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

}

textarea:hover {
  background-color: rgb(237, 243, 247);

}

input:hover {
  background-color: rgb(237, 243, 247);
}

label {
  margin-top: 10px;
  font-weight: bolder;
  color: white;
  font-weight: bolder;
  text-transform: capitalize;

}

textarea {
  resize: none;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
}

button {

  background-color: #A02D03;
  color: white;
  padding: 12px;
  width: 80px;
  margin-top: 15px;
  border-radius: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
  text-transform: uppercase;


}

button:hover {
  background-color: #A02D03;
  opacity: 0.7;


}

#contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}



#messages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#messages li {
  padding: 10px;
  margin: 8px;
  text-decoration: none;
  font-family: Lato;
  text-align: center;
  font-size: medium;
  border: 2px solid white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}


#messages button {
  margin-right: 15px;
  background-color: white;
  color: #A02D03;
  border-color: #A02D03;
  padding: 5px;
  width: 70px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10px;

}

footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: rgb(63, 60, 60);
  font-size: larger;

}

img.icon {

  width: 35px;
  height: 35px;
  border-radius: 6px;
}

.icons {

  position: fixed;
  top: 60%;
  left: 1%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;

}

.icon:hover {
  opacity: 0.6;

}

@media (max-width:900px) {


  .container-navbar a {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;

  }

  .container-skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
  }

  .container-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
  }

  .container-skills li {
    padding: 15px;
    margin: 5px;
    font-size: medium;

  }

  .container-projects li {
    padding: 15px;
    margin: 5px;
    font-size: medium;
  }

}

@media (max-width: 600px) {
  .container-about {

    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;


  }

  #contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
  }

  form {
    width: 100%;

  }

}